<ion-view view-title="Météo Plus" class="padding">
    <br />
    <br />
    <div class="text-center padding">
        La météo en temps réél !!
        <br /> D'ici ou d'ailleurs...
    </div>
    <form ng-submit="search()" name="formCity" class="list card item item-body padding" novalidate>
        <p>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Rechercher une ville" ng-model="ucity" name="ucity" required />
            </label>
        </p>
        <p>
            <a class="button button-stable" ng-click="geolocate()">Ma position</a>
            <input class="button button-stable" type="submit" value="Rechercher" ng-disabled="formCity.$invalid" />
            <ion-spinner icon="spiral" ng-show="loader"></ion-spinner>
        </p>
        <p>
            <span class="error" ng-show="formCity.ucity.$invalid && !formCity.ucity.$pristine">Veuillez renseigner une ville !</span>
        </p>
    </form>
    <div ng-show="liste.length" class="list card item item-body padding">
        <div class="item item-divider text-center">
            Mes dernières villes
        </div>
        <div class="item item-body">
            <ion-list show-delete="false" can-swipe="true">
                <ion-item ng-repeat="l in liste" ng-click="addCity(l)" on-swipe-right="delete(l)" on-swipe-left="delete(l)">
                    {{ l }}
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-view>
