<div class="modal">
    <ion-header-bar>
        <h1 class="title">Précition du jour : {{ t.dt * 1000 | date: 'dd/MM/yyyy' }}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Matin : {{ Math.round(t.temp.morn) }}°C</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Après-midi : {{ Math.round(t.temp.eve) }}°C</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Soir : {{ Math.round(t.temp.night) }}°C</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Min. : {{ Math.round(t.temp.min) }}°C</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Max. : {{ Math.round(t.temp.max) }}°C</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Humidité : {{ t.humidity }}%</span>
            </label>
        </div>
        <button class="button button-full button-stable" ng-click="closeModal()">Fermer</button>
    </ion-content>
</div>
